 
// colors
$white: #FFFFFF;
$black: #000;
$blue: #1D8FE1;
$mako: #3F444A;
$green:  #ADFF00;
$gray: #BEBEBE;
$red: #ff0000;
$gray-two: #8A8A8A;
$grey-three: #E5E5E5;

// @@include('assets/components/_header.html')

// @@include('assets/components/_intro.html')

// @@include('assets/components/_navigation.html')

// @@include('assets/components/_select32.html')









 
// @@include('assets/components/_blog-info.html')
// @@include('assets/components/_blog-info.html')



//   @@include('assets/components/_advantages.html')
// @@include('assets/components/_blog-info.html')
// @@include('assets/components/_blog-info.html')
// @@include('assets/components/_blog-info.html')
// @@include('assets/components/_blog-info.html') 



 





// <div class='btn-info'>
//    <a class="btn" href="#">
//       Выбрать тур
//    </a>
// </div>

// @@include('assets/components/_footer.html')


