<div class="advantages">
   
   <h2 class="title advantages__title">
      Почему выбирают Актив Тур?
   </h2>

   <ul class="advantages__list">

      <li class="advantages__item">
         <img src="./assets/img/advantages1.png" alt="">

         <h3 class="advantages__item-title">
            Туры от ведущих
            туроператоров
         </h3>

         <p class="advantages__item-text">
            Продаём туры только
            проверенных туроператоров
         </p>
      </li>

      <li class="advantages__item">
         <img src="./assets/img/advantages2.png" alt="">

         <h3 class="advantages__item-title">
            5 лет работы
            в интернете
         </h3>

         <p class="advantages__item-text">
            Продаём туры только
            проверенных туроператоров
         </p>
      </li>

      <li class="advantages__item">
         <img src="./assets/img/advantages3.png" alt="">

         <h3 class="advantages__item-title">
            Оплата тура 
            по частям
         </h3>

         <p class="advantages__item-text">
            Продаём туры только
            проверенных туроператоров
         </p>
      </li>

      <li class="advantages__item">
         <img src="./assets/img/advantages4.png" alt="">

         <h3 class="advantages__item-title">
            Безопасность
         </h3>

         <p class="advantages__item-text">
            Продаём туры только
            проверенных туроператоров
         </p>
      </li>

   </ul>
</div>