 
<div class="block-standart__section">
   <div class="section__content">
      <div class="container">
         <div class="block-standart__section-body">
            <h2 class="block-standart__title">
               Тур на снегоходах “Стандартный”
            </h2>

            <div class="block-standart__geo">
               <div class="block-stadart__geo-img">
                  <img src="./assets/img/geoLocation.svg" alt="">
               </div>
               <div class="block-standart__geo-content">
                  <div class="block-standart__geo-title">
                     Московская область, поселок Костино (Ярославское шоссе, 20 ...
                  </div>
                  <div class="block-standart__geo-text">
                     <span>Доступен ещё по 4 адресам</span>
                     <a href="#">Смотреть на карте</a>
                  </div>
               </div>
            </div>

            <ul class="block-standart__info">

               <li class="block-standart__info-item">
                  <div class="block-standart__info-img">
                     <img src="./assets/img/time.svg" alt="">
                  </div>
                  <div class="block-standart__info-text">
                     Время тура: 1 час
                  </div>
               </li>

               <li class="block-standart__info-item">
                  <div class="block-standart__info-img">
                     <img src="./assets/img/people.svg" alt="">
                  </div>
                  <div class="block-standart__info-text">
                     Участников: до 50 чел
                  </div>
               </li>

               <li class="block-standart__info-item">
                  <div class="block-standart__info-img">
                     <img src="./assets/img/coin.svg" alt="">
                  </div>
                  <div class="block-standart__info-text">
                     Цена: от 3 000 руб.
                  </div>
               </li>

            </ul>

            <div class="block-standart__btns">
               <div class="btn-arrow">
                  Подробнее о туре
               </div>

               <div class="btn-arrow green">
                  Подарить этот тур
               </div>
            </div>

         </div>
      </div>
   </div>
   <div class="section__image">
      <img src="assets/img/standart-img.png" alt="">
   </div>
</div>