 
   <div class="blog-info">

      <div class="blog-info__img">
         <img src="assets/img/blog-info1.png" alt="">
      </div>
   
      <div class="blog-info__content">
         <h2 class="title title-linear">Туры на снегоходах</h2>
   
         <ul class="blog-info__list">
   
            <li class="blog-info__item">
               Количество маршрутов: 25 маршрутов
            </li>
   
            <li class="blog-info__item">
               Количество участников: от 1 до 10 человек
            </li>
   
            <li class="blog-info__item">
               Цены: от 500 руб. до 85 000 руб.
            </li>
   
         </ul>
   
         <a class="btn" href="#">
            Выбрать тур на вейксёрфинге
         </a>
   
      </div><!-- blog-info__content -->
   
   
   </div><!-- blog-info -->
   
   



 
 