<div class="card-service">

   <div class="card-service__img">
      <img src="assets/img/blog-info1.png" alt="">
   </div>

   <div class="card-service__content">
      <h2 class="title title-linear">Туры на снегоходах</h2>

      <ul class="card-service__list">

         <li class="card-service__item">
            Количество маршрутов: 25 маршрутов
         </li>

         <li class="card-service__item">
            Количество участников: от 1 до 10 человек
         </li>

         <li class="card-service__item">
            Цены: от 500 руб. до 85 000 руб.
         </li>

      </ul>

      <a class="btn" href="#">
         Выбрать тур на вейксёрфинге
      </a>

   </div><!-- card-service__content -->


</div><!-- card-service -->

 