<footer class="footer">
   <div class="footer__container">

      <div class="footer__top">
         <img src="assets/img/logo.svg" alt="Логотип">

         <a class='footer__phone' href="tel:88005059530">
            8 800 505 95 30
         </a>
      </div>



      <div class="footer-menu">
         <div class="footer-menu__row">
            <a class='footer-menu__link' href="#">О нас</a>
            <a class='footer-menu__link' href="#">Как сделать заказ?</a>
            <a class='footer-menu__link' href="#">Отзывы</a>
            <a class='footer-menu__link' href="#">Гарантии</a>
            <a class='footer-menu__link' href="#">Оферта</a>
         </div>
         <div class="footer-menu__row">
            <a class='footer-menu__link' href="#">Политика конфиденциальности</a>
         </div>
      </div>

 
       
      <img class="footer__card" src="assets/img/bank.png" alt="Карты">

   </div><!-- footer__container -->

   <div class="footer__green"></div>

   <img class="footer__cvadro1" src="assets/img/cvadro1.png" alt="">
   <img class="footer__cvadro2" src="assets/img/cvadro2.png" alt="">

</footer><!-- footer -->