
   <div class="geolocation">
      <div class="geolocation__content">
         <h3 class="geolocation__title">Где проходит?</h3>

         <div class="geolocation__text">
            Московская область, поселок Костино<br>
            (Ярославское шоссе, 20 км от МКАД)
         </div>
         <div class="geolocation__desk">
            Пн-Пт с 9:00 до 21:00<br>
            Сб-Вс выходные
         </div>
         <div class="geolocation__text">
            Московская область, деревня Старая Слобода
            (Щёлковское шоссе, 30 км от МКАД)
         </div>
         <div class="geolocation__desk">
            Ежедневно с 9:00 до 21:00
         </div>

         <a class="geolocation__link" href="">
            Посмотреть все доступные адреса на карте
         </a>

         <div class="geolocation__desk geolocation__desk--mt">
            Хотите, мы отправим вам на <br>
            телефон карту “как добраться до нас”?
         </div>

         <a class="geolocation__link" href="">
            Отправить >
         </a>

      </div>

      <div class="geolocation__map">
         <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1934.9547958837331!2d38.1308851988446!3d55.92241155594297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414ad47f82626f4b%3A0x242251f15902f98c!2z0KnRkdC70LrQvtCy0YHQutC-0LUg0YguLCAzMCwg0KDQsNC50LrQuCwg0JzQvtGB0LrQvtCy0YHQutCw0Y8g0L7QsdC7LiwgMTQxMTQw!5e0!3m2!1sru!2sru!4v1603086571871!5m2!1sru!2sru"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
      </div>
   </div>
