<header class="header">

   <div class="container">

      <div class="header__content">

         <a href="#">
            <img src="./assets/img/logo.svg" alt="">
         </a>

         <ul class="header__nav">

            <li class="header__nav-item">
               <a class="header__nav-link" href="information.html">О нас</a>
            </li>

            <li class="header__nav-item">
               <a class="header__nav-link" href="#">Как сделать заказ?</a>
            </li>

         </ul>


         <div>
            <a class="header__nav-certificate" href="#">Подарочные сертификаты</a>
            <a class="header__phone" href="tel:1234567890">8 961 800 82 80</a>
         </div>

      </div><!-- header__content -->

   </div><!-- container -->

</header>