<header class="header">

   <div class="container">

      <div class="header__content">


         <a class="header__descktop" href="index.html">
            <img src="./assets/img/logo.svg" alt="">
         </a>

         <ul class="header__nav  header__descktop">

            <li class="header__nav-item">
               <a class="header__nav-link" href="category.html">О нас</a>
            </li>

            <li class="header__nav-item">
               <a class="header__nav-link" href="service.html">Как сделать заказ?</a>
            </li>

         </ul>


         <div class="header__descktop">
            <a class="header__nav-certificate" href="#">Подарочные сертификаты</a>
            <a class="header__phone" href="tel:1234567890">8 961 800 82 80</a>
         </div>





         <div class="header__mobile">


            <div class="header__mobile-top">
               <a href="#">
                  <img src="./assets/img/logo.svg" alt="">
               </a>
   
               <div class="header__burger">
                  <div class="header__burger-menu"></div>
               </div>
            </div>
    

            <ul class="header__mobile-list">

               <li class="header__mobile-menu">
                  <a class="header__phone" href="tel:1234567890">8 961 800 82 80</a>
               </li>

               <li class="header__mobile-menu">
                  <a class="header__nav-link" href="information.html">О нас</a>
               </li>

               <li class="header__mobile-menu">
                  <a class="header__nav-link" href="#">Как сделать заказ?</a>
               </li>

               <li class="header__mobile-menu">
                  <a class="header__nav-certificate" href="#">Подарочные сертификаты</a>
               </li>

            </ul>


         </div>

      </div><!-- header__content -->

   </div><!-- container -->

</header>