<div class="intro information">
   <div class="container">


      <div class="intro__box">

         <h1 class="intro__title">
            Сервис коротких туров №1 в Москве
         </h1>
         <p class="intro__subtitle">
            Вы можете выбрать тур для себя, либо купить его в подарок!
         </p>


         <ul class="intro__tours">

            <li class="intro__tours-item">
               <div class="intro__tours-head">
                  1 час
               </div>
               <div class="intro__tours-text">
                  Минимальное
                  время тура
               </div>
            </li>

            <li class="intro__tours-item">
               <div class="intro__tours-head">
                  10 часов
               </div>
               <div class="intro__tours-text">
                  Минимальное
                  время тура
               </div>
            </li>

            <li class="intro__tours-item">
               <div class="intro__tours-head">
                  25 видов
               </div>
               <div class="intro__tours-text">
                  Различных туров
               </div>
            </li>

         </ul><!-- intro__tours -->

         <a class="btn" href="#">Выбрать тур из каталога</a>

      </div>

   </div><!-- container -->
</div><!-- intro -->