<nav class="nav">
   <div class="container">

      <ul class="nav__list">

         <li class="nav__item">
            <a class="nav__item-link  nav__item-link--active" href="">Квадро-туры</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Снегоходы</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Танки</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Танки</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Лошади</a>
         </li>
        
         <li class="nav__item">
            <a class="nav__item-link" href="">Танки</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Багги</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Джип-туры</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Авто-туры</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Вело-туры</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Картинги</a>
         </li>

    
      </ul><!-- nav__list -->

   </div>

</nav><!-- nav -->