<nav class="nav">
   <div class="container">

      <ul class="nav__list">

         <li class="nav__item">
            <a class="nav__item-link" href="">Квадроциклы</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Снегоходы</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Багги</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Мотоциклы</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Джипы</a>
         </li>
        
         <li class="nav__item">
            <a class="nav__item-link" href="">Лошади</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Собачьи упряжки</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Вейксёрфинг</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Водные лыжи</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Катеара</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Гидроциклы</a>
         </li>

         <li class="nav__item">
            <a class="nav__item-link" href="">Водные лыжи</a>
         </li>

      </ul><!-- nav__list -->

   </div>

</nav><!-- nav -->