<div class="partners">
   <div class="container">
      <h2 class="title partners__title">Только надёжные туроператоры</h2>
      <p class="partners__subtitle">Мы работаем только с проверенными туроператорами, что гарантирует ваш отдых</p>


      <ul class="partners__list">

         <li class="partners__list-item">
            <img src="./assets/img/partners1.png" alt="">
         </li>

         <li class="partners__list-item">
            <img src="./assets/img/partners1.png" alt="">
         </li>

         <li class="partners__list-item">
            <img src="./assets/img/partners2.png" alt="">
         </li>

         <li class="partners__list-item">
            <img src="./assets/img/partners1.png" alt="">
         </li>


         <li class="partners__list-item">
            <img src="./assets/img/partners1.png" alt="">
         </li>

         <li class="partners__list-item">
            <img src="./assets/img/partners1.png" alt="">
         </li>


         <li class="partners__list-item">
            <img src="./assets/img/partners1.png" alt="">
         </li>

         <li class="partners__list-item">
            <img src="./assets/img/partners1.png" alt="">
         </li>


      </ul>
   </div>
</div>