<form class="buy-myself">

   <div class="buy-myself-item ">

      <h2 class="buy-myself__title">
         Выберите адрес
      </h2>

      <div class="buy-myself__top">

         <div class="buy-myself__address">

            <div class="buy-myself__box">

               <div class="buy-myself__content">
                  <div class="buy-myself__content-choice">
                     <input type="radio" id="choice1" name="a">
                     <label for="choice1"></label>
                  </div>
                  <div class="buy-myself__content-text">
                     Адрес катаний: село Наумовка, Ежевского района, Московской области
                  </div>
               </div>

               <div class="buy-myself__content">
                  <div class="buy-myself__content-choice">
                     <input type="radio" id="choice2" name="a">
                     <label for="choice2"></label>
                  </div>
                  <div class="buy-myself__content-text">
                     Адрес катаний: село Наумовка, Ежевского района, Московской области
                  </div>
               </div>

               <div class="buy-myself__content">
                  <div class="buy-myself__content-choice">
                     <input type="radio" id="choice3" name="a">
                     <label for="choice3"></label>
                  </div>
                  <div class="buy-myself__content-text">
                     Адрес катаний: село Наумовка, Ежевского района, Московской области
                  </div>
               </div>

            </div>

            <div class="buy-myself__map">
               <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3792.260451976407!2d37.037022102151376!3d55.58649571894516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46caa83f47399fa3%3A0xb4d03c91f2ad68b8!2z0K3RgdGC0LXQudGCIDPQlA!5e0!3m2!1sru!2sru!4v1603118435192!5m2!1sru!2sru"
                  width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                  tabindex="0"></iframe>
            </div>

         </div><!-- buy-myself__address -->




         <div class="container-popap">

            <ul class="step-list  buy-myself__step">

               <li class="step-list-item  step-list-item--active">
                  1. Выбор квадроциклов
               </li>

               <li class="step-list-item">
                  2. Выбор даты и времени
               </li>

               <li class="step-list-item">
                  3. Оплата
               </li>

            </ul>

         </div><!-- container-popap -->



      </div> <!-- buy-myself__to -->


      <div class="container-popap">
         <div class="buy-myself__route">

            <div class="buy-myself__route-img">
               <img src="assets/img/cvadro-fiol.png" alt="">
            </div>

            <div class="myself__route-content">
               <h3 class="myself__route-title">Маршрут “Фиолетовый”</h3>
               <div class="myself__route-text">
                  <p>3 часа</p>
                  <p>25 км</p>
               </div>
               <div class="myself__route-addres">
                  Адрес катаний: село Наумовка, Ежевского района, Московской области
               </div>
            </div>

         </div><!-- buy-myself__route -->

      </div><!-- container-popap -->


      <div class="container-popap">

         <div class="buy-myself__suitableAtw">

            <h3 class="buy-myself__previe">
               Выберите подходящие квадроциклы
            </h3>

            <ul class="buy-myself__cvadra-list">

               <li class="buy-myself__cvadra-item">

                  <div class="buy-myself__cvadra-img">
                     <img src="assets/img/cvadra-sl.png" alt="">
                  </div>

                  <div class="buy-myself__cvadra-content">
                     <h3 квароцикл class="buy-myself__cvadra-title">
                        Одноместный квароцикл
                     </h3>
                     <div class="buy-myself__cvadra-desk">
                        CF MOTO DEGETRATATION T-9000 UX/UI PRO
                     </div>

                     <p class="buy-myself__cvadra-model">
                        поробнее о модели
                     </p>


                     <div class="buy-myself__cvadra-numbers">
                        <div class="buy-myself__cvadra">
                           <div class="buy-myself__cvadra-control">-</div>
                           <div class="buy-myself__cvadra-current">1</div>
                           <div class="buy-myself__cvadra-control">+</div>
                        </div>
                        <div class="buy-myself__cvadra-price">
                           9 000 рублей
                        </div>
                     </div>

                  </div>

               </li> <!-- buy-myself__cvadra-item -->

               <li class="buy-myself__cvadra-item">

                  <div class="buy-myself__cvadra-img">
                     <img src="assets/img/cvadra-sl.png" alt="">
                  </div>

                  <div class="buy-myself__cvadra-content">
                     <h3 квароцикл class="buy-myself__cvadra-title">
                        Одноместный квароцикл
                     </h3>
                     <div class="buy-myself__cvadra-desk">
                        CF MOTO DEGETRATATION T-9000 UX/UI PRO
                     </div>

                     <p class="buy-myself__cvadra-model">
                        поробнее о модели
                     </p>


                     <div class="buy-myself__cvadra-numbers">
                        <div class="buy-myself__cvadra">
                           <div class="buy-myself__cvadra-control">-</div>
                           <div class="buy-myself__cvadra-current">1</div>
                           <div class="buy-myself__cvadra-control">+</div>
                        </div>
                        <div class="buy-myself__cvadra-price">
                           9 000 рублей
                        </div>
                     </div>

                  </div>

               </li> <!-- buy-myself__cvadra-item -->

               <li class="buy-myself__cvadra-item">

                  <div class="buy-myself__cvadra-img">
                     <img src="assets/img/cvadra-sl.png" alt="">
                  </div>

                  <div class="buy-myself__cvadra-content">
                     <h3 квароцикл class="buy-myself__cvadra-title">
                        Одноместный квароцикл
                     </h3>
                     <div class="buy-myself__cvadra-desk">
                        CF MOTO DEGETRATATION T-9000 UX/UI PRO
                     </div>

                     <p class="buy-myself__cvadra-model">
                        поробнее о модели
                     </p>


                     <div class="buy-myself__cvadra-numbers">
                        <div class="buy-myself__cvadra">
                           <div class="buy-myself__cvadra-control">-</div>
                           <div class="buy-myself__cvadra-current">1</div>
                           <div class="buy-myself__cvadra-control">+</div>
                        </div>
                        <div class="buy-myself__cvadra-price">
                           9 000 рублей
                        </div>
                     </div>

                  </div><!-- buy-myself__c -->

               </li> <!-- buy-myself__cvadra-item -->



               <li class="buy-myself__cvadra-item">

                  <div class="buy-myself__cvadra-img">
                     <img src="assets/img/cvadra-sl.png" alt="">
                  </div>

                  <div class="buy-myself__cvadra-content">
                     <h3 квароцикл class="buy-myself__cvadra-title">
                        Одноместный квароцикл
                     </h3>
                     <div class="buy-myself__cvadra-desk">
                        CF MOTO DEGETRATATION T-9000 UX/UI PRO
                     </div>

                     <p class="buy-myself__cvadra-model">
                        поробнее о модели
                     </p>


                     <div class="buy-myself__cvadra-numbers">
                        <div class="buy-myself__cvadra">
                           <div class="buy-myself__cvadra-control">-</div>
                           <div class="buy-myself__cvadra-current">1</div>
                           <div class="buy-myself__cvadra-control">+</div>
                        </div>
                        <div class="buy-myself__cvadra-price">
                           9 000 рублей
                        </div>
                     </div>

                  </div><!-- buy-myself__c -->

               </li> <!-- buy-myself__cvadra-item -->

               <li class="buy-myself__cvadra-item">


                  <div class="buy-myself__cvadra-content">
                     <h3 квароцикл class="buy-myself__cvadra-title">
                        Одноместный квароцикл
                     </h3>
                     <div class="buy-myself__cvadra-desk">
                        CF MOTO DEGETRATATION T-9000 UX/UI PRO
                     </div>


                     <div class="buy-myself__cvadra-numbers">
                        <div class="buy-myself__cvadra">
                           <div class="buy-myself__cvadra-control">-</div>
                           <div class="buy-myself__cvadra-current">1</div>
                           <div class="buy-myself__cvadra-control">+</div>
                        </div>
                        <div class="buy-myself__cvadra-price">
                           9 000 рублей
                        </div>
                     </div>

                  </div><!-- buy-myself__c -->

               </li> <!-- buy-myself__cvadra-item -->


               <li class="buy-myself__cvadra-item">

                  <div class="buy-myself__cvadra-content">
                     <h3 квароцикл class="buy-myself__cvadra-title">
                        Одноместный квароцикл
                     </h3>
                     <div class="buy-myself__cvadra-desk">
                        CF MOTO DEGETRATATION T-9000 UX/UI PRO
                     </div>


                     <div class="buy-myself__cvadra-numbers">
                        <div class="buy-myself__cvadra">
                           <div class="buy-myself__cvadra-control">-</div>
                           <div class="buy-myself__cvadra-current">1</div>
                           <div class="buy-myself__cvadra-control">+</div>
                        </div>
                        <div class="buy-myself__cvadra-price">
                           9 000 рублей
                        </div>
                     </div>

                  </div><!-- buy-myself__c -->

               </li> <!-- buy-myself__cvadra-item -->

            </ul><!-- buy-myself__cvadra-list -->

         </div><!-- buy-myself__suitableAtw -->


      </div><!-- container-popap -->


      <div class="container-popap">
         <div class="buy-myself__footer">
            <p>Итого стоимость: 27 000 р:</p>
            <p>Предоплата: 7 000 р.</p>
            <p>Доплата на месте 20 000 р.</p>
            <button class="buy-myself__footer-btn" type="submit">К выбору даты и времени</button>
         </div>
      </div><!-- container-popap -->


   </div><!-- buy-myself-item  -->






   <div class="buy-myself-item">

      <div class="container-popap">

         <ul class="step-list  buy-myself__step">

            <li class="step-list-item">
               1. Выбор квадроциклов
            </li>

            <li class="step-list-item step-list-item--active">
               2. Выбор даты и времени
            </li>

            <li class="step-list-item">
               3. Оплата
            </li>

         </ul>

      </div><!-- container-popap -->



      <div class="buy-myself__info">

         <div class="container-popap">


            <div class="buy-myself__info-box">
               <div class="buy-myself__info-date">

                  <p class="buy-myself__info-date-text">Выберите удобные дни и время</p>
                  <p class="buy-myself__info-date-subtext">Укажите до 5 вариантов подходящего времени</p>

                  <div class="buy-myself__info-date-inputs">

                     <div class="buy-myself__info-date-item">
                        <p>1. Выбрать дату и время</p>
                     </div>

                     <div class="buy-myself__info-date-item">
                        <p>1. Выбрать дату и время</p>
                     </div>

                     <div class="buy-myself__info-date-item">
                        <p>1. Выбрать дату и время</p>
                     </div>

                     <div class="buy-myself__info-date-item">
                        <p>1. Выбрать дату и время</p>
                     </div>

                     <div class="buy-myself__info-date-item">
                        <p>1. Выбрать дату и время</p>
                     </div>

                     <button class="buy-myself__info-date-prev">
                        < вернуться к выбору квадроциклов </button>

                  </div><!-- buy-myself__info-date-inputs -->

               </div> <!-- "buy-myself__info-date -->



               <div class="buy-myself__info-ticket">
                  <h3 class="buy-myself__info-ticket-title">Укажите куда нам отправить билет</h3>

                  <div class="buy-myself__info-ticket-box">
                     <input class="buy-myself__info-ticket-input" type="text" placeholder="Телефон">
                  </div>

                  <div class="buy-myself__info-ticket-box">
                     <input class="buy-myself__info-ticket-input" type="text" placeholder="Имя"></input>
                  </div>

                  <div class="buy-myself__info-ticket-box">
                     <input class="buy-myself__info-ticket-input" type="checkbox" placeholder="Имя"></input>
                  </div>

                  <div class="buy-myself__info-ticket-box">
                     <input class="buy-myself__info-ticket-input" type="text" placeholder="E-mail для чека"></input>
                  </div>



                  <a class="buy-myself__info-ticket-link" href="#">
                     Посмотреть как выглядит электронный билет
                  </a>


               </div><!-- buy-myself__info-ticket -->



            </div><!-- buy-myself__info-box -->
         </div><!-- container-popap -->

      </div><!-- buy-myself__info -->




      <div class="container-popap">
         <div class="buy-myself__footer">
            <p>Итого стоимость: 27 000 р:</p>
            <p>Предоплата: 7 000 р.</p>
            <p>Доплата на месте 20 000 р.</p>
            <button class="buy-myself__footer-btn" type="submit">Перейти к оплате</button>
         </div>
      </div><!-- container-popap -->


   </div><!-- buy-myself-item  -->






   <div class="buy-myself-item ">

      <div class="container-popap">

         <ul class="step-list  buy-myself__step">

            <li class="step-list-item">
               1. Выбор квадроциклов
            </li>

            <li class="step-list-item">
               2. Выбор даты и времени
            </li>

            <li class="step-list-item  step-list-item--active">
               3. Оплата
            </li>

         </ul>

      </div><!-- container-popap -->



      <div class="container-popap">
         <div class="buy-myself__route">

            <div class="buy-myself__route-img">
               <img src="assets/img/cvadro-fiol.png" alt="">
            </div>

            <div class="myself__route-content">
               <h3 class="myself__route-title">Маршрут “Фиолетовый”</h3>
               <div class="myself__route-text">
                  <p>3 часа</p>
                  <p>25 км</p>
               </div>
               <div class="myself__route-addres">
                  Адрес катаний: село Наумовка, Ежевского района, Московской области
               </div>
            </div>

         </div><!-- buy-myself__route -->

      </div><!-- container-popap -->



      <div class="buy-myself__payment">
         <div class="container-popap">
            <button class="buy-myself__payment-prev">
               < вернуться к выбору квадроциклов 
            </button>

                  <div class="buy-myself__payment-content">

                     <h3 квадроциклы class="buy-myself__payment-title">
                        Ваши квадроциклы
                     </h3>

                     <div class="buy-myself__payment-list">

                        <div class="buy-myself__payment-list-item">
                           <p>1. Двухмстный квадроцикл CF-MOTO 500</p>
                           <p>2 квадроцикла</p>
                           <p>5 000 рублей</p>

                           <button class="buy-myself__payment-btn">Х <span>убрать</span> </button>
                        </div>

                        <div class="buy-myself__payment-list-item">
                           <p>1. Двухмстный квадроцикл CF-MOTO 500</p>
                           <p>2 квадроцикла</p>
                           <p>5 000 рублей</p>

                           <button class="buy-myself__payment-btn">Х <span>убрать</span> </button>
                        </div>

                     </div><!-- buy-myself__payment-list -->

                     <div class="buy-myself__payment-result">

                        <div class="buy-myself__payment-result-item">
                           <div class="buy-myself__payment-result-text">Итого стоимость</div>
                           <div class="buy-myself__payment-result-number">27 000 рублей</div>
                        </div>

                        <div class="buy-myself__payment-result-item">
                           <div class="buy-myself__payment-result-text  buy-myself__payment-result-text--red">Итого
                              стоимость</div>
                           <div class="buy-myself__payment-result-number  buy-myself__payment-result-text--red">27 000
                              рублей</div>
                        </div>

                        <div class="buy-myself__payment-result-item">
                           <div class="buy-myself__payment-result-text">Итого стоимость</div>
                           <div class="buy-myself__payment-result-number">27 000 рублей</div>
                        </div>

                     </div>


                     <div class="buy-myself__payment-end">

                        <div class="buy-myself__payment-end-info">


                           <div class="buy-myself__payment-end-info-box">
                              <div class="buy-myself__payment-end-title">
                                 Важно знать!
                              </div>

                              <ul class="buy-myself__payment-end-content">

                                 <li>
                                    * Оплата производится через платежный банковский шлюз по защищенному HTTPS-протоколу
                                 </li>

                                 <li>
                                    * После оплаты билет будет выслан по СМС на указанный телефон
                                 </li>

                                 <li>
                                    * Билет необходимо предъявить со смартфона (распечатывать не надо)
                                 </li>

                                 <li>
                                    * После оплаты чек будет выслан на указанный E-mail
                                 </li>

                                 <li>
                                    * Во избежание недоразумений Вам необходимо приехать не менее чем за 15 минут до
                                    согласованного времени
                                 </li>

                                 <li>
                                    * В случае возникновения вопросов вы можете позвонить по контактным телефонам,
                                    указанным в
                                    билете
                                 </li>


                              </ul>
                           </div>


                           <div class="buy-myself__payment-end-date">

                              <h3 class='buy-myself__payment-end-date-title'>Предполагаемые дата
                                 и время записи:
                              </h3>

                              <ul class="buy-myself__payment-end-date-list">
                                 <li>27 мая (чт), в 11:00</li>
                                 <li>27 мая (чт), в 11:00</li>
                                 <li>27 мая (чт), в 11:00</li>
                                 <li>27 мая (чт), в 11:00</li>
                                 <li>27 мая (чт), в 11:00</li>
                              </ul>

                           </div><!-- buy-myself__payment-end-date -->

                        </div><!-- buy-myself__payment-end-info -->



                     </div><!-- buy-myself__payment-end -->

                  </div><!-- buy-myself__payment-content -->



         </div><!-- container-popap -->
      </div><!-- buy-myself__payment -->



      <div class="container-popap">
         <div class="buy-myself__footer">
            <p>Итого стоимость: 27 000 р:</p>
            <p>Предоплата: 7 000 р.</p>
            <p>Доплата на месте 20 000 р.</p>
            <button class="buy-myself__footer-btn" type="submit">Перейти к оплате</button>
         </div>
      </div><!-- container-popap -->




   </div><!-- buy-myself-item  -->



</form><!-- buy-myself -->