<div class="preview">

   <h1 class="preview__title">
      Тур на квадроциклах в Москве
      “Стандартный”
   </h1>

   <ul class='preview__list'>

      <li class="preview__item">
         <img src="./assets/img/time-white.svg" alt="">
         <p class="preview__text">
            Время тура: 1 час
         </p>
      </li>

      <li class="preview__item">
         <img src="./assets/img/rub-white.svg" alt="">
         <p class="preview__text">
            Цена: от 3 000 руб
         </p>
      </li>

      <li class="preview__item">
         <img src="./assets/img/rub-white.svg" alt="">
         <p class="preview__text">
            Участников: до 50 чел
         </p>
      </li>

   </ul>

   <a class="btn  preview__btn" hred="#">
      Забронировать это тур
   </a>

</div><!-- preview -->