<div class="prices">
   <div class="container">

      <h2 class="title prices__title">
         Цены
      </h2>

      <p class="prices__subtitle">
         <span>Что входит в стоимость?</span>
         аренда квадроцикла, топливо, шлем, сопровождение инструктора на отдельном квадроцикле.
      </p>

      <ul class="prices__list">

         <li class="prices__list-item  prices__list-item--active">

            <div class="prices__list-name">
               <div class="prices__list-name-choice">
                  <input class="prices__list-choice-input" type="checkbox" checked id='choice'>
                  <label for="choice"></label>
               </div>
               <p class="prices__list-name-choice-text">Квадроцикл BRP Outlander 800</p>
            </div>

            <p class="prices__list-type">
               Тип: Двухместный`
            </p>

            <div class="prices__list-quantity">
               <p class="prices__list-quantity-name">
                  Количество
               </p>

               <div class="prices__list-count">
                  <div class="prices__list-minus">-</div>
                  <div class="prices__list-count-number">2</div>
                  <div class="prices__list-plus">+</div>
               </div>
            </div>

            <div class="prices__list-price">
               <div class="prices__list-price-text">
                  Цена
               </div>
               <div class="prices__list-price-number">
                  6 000 руб
               </div>
            </div>

         </li>

         <li class="prices__list-item">

            <div class="prices__list-name">
               <div class="prices__list-name-choice">
                  <input class="prices__list-choice-input" type="checkbox" id='choice-two'>
                  <label for="choice-two"></label>
               </div>
               <p class="prices__list-name-choice-text">Квадроцикл BRP Outlander 800</p>
            </div>

            <p class="prices__list-type">
               Тип: Двухместный`
            </p>

            <div class="prices__list-quantity">
               <p class="prices__list-quantity-name">
                  Количество
               </p>

               <div class="prices__list-count">
                  <div class="prices__list-minus">-</div>
                  <div class="prices__list-count-number">1</div>
                  <div class="prices__list-plus">+</div>
               </div>
            </div>

            <div class="prices__list-price">
               <div class="prices__list-price-text">
                  Цена
               </div>
               <div class="prices__list-price-number">
                  3 000 руб
               </div>
            </div>

         </li>


         <li class="prices__list-item">

            <div class="prices__list-name">
               <div class="prices__list-name-choice">
                  <input class="prices__list-choice-input" type="checkbox" id='choice-three'>
                  <label for="choice-three"></label>
               </div>
               <p class="prices__list-name-choice-text">Квадроцикл BRP Outlander 800</p>
            </div>

            <p class="prices__list-type">

            </p>

            <div class="prices__list-quantity">
               <p class="prices__list-quantity-name">
                  Количество
               </p>

               <div class="prices__list-count">
                  <div class="prices__list-minus">-</div>
                  <div class="prices__list-count-number">1</div>
                  <div class="prices__list-plus">+</div>
               </div>
            </div>

            <div class="prices__list-price">
               <div class="prices__list-price-text">
                  Цена
               </div>
               <div class="prices__list-price-number">
                  500 руб
               </div>
            </div>

         </li>

      </ul>

      <div class="prices__result-message">

         <div class="prices__result-price">
            <div class="prices__result-price-text">
               Итого к оплате
            </div>
            <div class="prices__result-price-number">
               3 000 руб
            </div>
         </div>

         <div class="prices__result-warning">
            9 000 рублей необходимо оплатить на месте
         </div>

      </div>

      <div class="prices__btns">
         <a class="btn-arrow prices__btn" href="#">Забронировать это тур</a>
         <a class="btn-arrow green" href="#">Подарить этот тур</a>
      </div>

   </div><!-- container -->
</div>
