<div class="overlay">

   <form class="purchase-gift">

      <div class="purchase-gift__item">

         <div class="purchase-gift__step-inner">

            <div class="purchase-gift__container">

               <ul class="purchase-gift__step">

                  <li class="purchase-gift__step-item  purchase-gift__step-item--active">
                     1. Поздравление
                  </li>

                  <li class="purchase-gift__step-item ">
                     3. Оплата
                  </li>

               </ul><!-- purchase-gift__step -->

            </div><!-- purchase-gift__container -->

         </div>


         <div class="purchase-gift__container">

            <div class="purchase-gift__box">

               <div class="purchase-gift__data">

                  <h3 class='purchase-gift__data-title'>Введите данные получателя подарка</h3>

                  <div class="purchase-gift__data-input">
                     <input type="text" placeholder="Напишите поздравление">
                  </div>

                  <div class="purchase-gift__data-input">
                     <input type="text" placeholder="Имя получателя подарка">
                  </div>

                  <div class="purchase-gift__data-input">
                     <input type="text" placeholder="Номер  телефона получателя ">
                  </div>

               </div>

               <div class="purchase-gift__data">

                  <h3 class='purchase-gift__data-title'>Укажите куда нам отправить билет</h3>

                  <div class="purchase-gift__data-input">
                     <input type="text" placeholder="Телефон">
                  </div>

                  <div class="purchase-gift__data-input">
                     <input type="text" placeholder="Имя">
                  </div>

                  <div class="purchase-gift__data-input">
                     <input type="text" placeholder="E-mail">
                  </div>

               </div>

            </div><!-- purchase-gift__box -->

         </div><!-- purchase-gift__container -->


         <div class="purchase-gift__container">

            <div class="purchase-gift__view">
               <h2 class="purchase-gift__view-title">Как Вы хотите, чтобы выглядел сертификат?</h2>


               <div class="purchase-gift__view-content">

                  <div class="purchase-gift__view-choice">

                     <h3 class="purchase-gift__view-choice-title">
                        СМС сообщение с поздравлением
                     </h3>

                     <div class="purchase-gift__view-choice-img">
                        <img src="assets/img/cmsPhone.png" alt="">
                     </div>

                     <button class="purchase-gift__view-choice-btn">
                        Выбрать этот вариант
                     </button>

                     <div class="purchase-gift__view-choice-desk">
                        <p class="purchase-gift__view-choice-text">
                           На вашу почту придёт PDF-открытка,
                           которую можно будет распечатать и
                           подарить
                        </p>
                        <a class="purchase-gift__view-choice-link" href="#">Выбрать дату и время отправки</a>
                     </div>

                  </div><!-- purchase-gift__view-choice -->

                  <div class="purchase-gift__view-choice">

                     <h3 class="purchase-gift__view-choice-title">
                        Бумажная открытка с поздравлением
                     </h3>

                     <div class="purchase-gift__view-choice-img">
                        <img src="assets/img/cart.png" alt="">
                     </div>

                     <button class="purchase-gift__view-choice-btn">
                        Выбран этот вариант
                     </button>

                     <div class="purchase-gift__view-choice-desk">
                        <p class="purchase-gift__view-choice-text">
                           На вашу почту придёт PDF-открытка,
                           которую можно будет распечатать и
                           подарить
                        </p>
                     </div>

                  </div><!-- purchase-gift__view-choice -->

               </div><!-- purchase-gift__view-content -->


            </div><!-- purchase-gift__view -->

         </div><!-- purchase-gift__container -->



         <div class="purchase-gift__container">

            <div class="purchase-gift__footer">

               <p class="purchase-gift__footer-text">
                  Итого стоимость: 27 000 р:
               </p>

               <button class="purchase-gift__footer-btn">
                  Перейти к оплате
               </button>

            </div><!-- purchase-gift__footer -->

         </div><!-- purchase-gift__container -->



      </div><!-- purchase-gift__item -->




      <div class="purchase-gift__item">


         <div class="purchase-gift__step-inner">

            <div class="purchase-gift__container">

               <ul class="purchase-gift__step">

                  <li class="purchase-gift__step-item">
                     1. Поздравление
                  </li>

                  <li class="purchase-gift__step-item  purchase-gift__step-item--active">
                     3. Оплата
                  </li>

               </ul><!-- purchase-gift__step -->

            </div><!-- purchase-gift__container -->

         </div><!-- purchase-gift__step-inner -->




         <div class="purchase-gift__container">

            <div class="purchase-gift__route">

               <div class="purchase-gift__route-img">
                  <img src="assets/img/cvadro-fiol.png" alt="">
               </div>

               <div class="purchase-gift__route-content">

                  <div class="purchase-gift__addres">
                     Прокат квадроциклов
                  </div>

                  <h3 class="purchase-gift__route-title">Маршрут “Фиолетовый”</h3>

                  <div class="purchase-gift__route-text">
                     <p>3 часа</p>
                     <p>25 км</p>
                  </div>

               </div><!-- purchase-gift__route-content -->

            </div><!-- purchase-gift__route -->

         </div><!-- purchase-gift__container -->


         <div class="purchase-gift__cms">

            <div class="purchase-gift__container">

               <div class="purchase-gift__cms-inner">

                  <h3 class="purchase-gift__cms-title">
                     Смс сообщение с поздравлением
                  </h3>

                  <p class="purchase-gift__cms-message">
                     Предполагаемые дата и время записи:Предполагаемые дата и время аписи:Предполагаемые дата и время
                     записи: я аписи:Предполагаемые дата и время записи:
                  </p>

               </div><!-- purchase-gift__cms-inner -->

            </div><!-- purchase-gift__container -->

         </div><!-- purchase-gift__cms -->



         <div class="purchase-gift__cvadra">

            <div class="purchase-gift__container">

               <h3 class="purchase-gift__cvadra-title">
                  Ваши квадроциклы
               </h3>

               <ul class="purchase-gift__cvadra-list">

                  <li class="purchase-gift__cvadra-item">
                     <p class="purchase-gift__cvadra-item-text">1. Двухмстный квадроцикл CF-MOTO 500</p>
                     <p class="purchase-gift__cvadra-item-text">2 квадроцикла</p>
                     <p class="purchase-gift__cvadra-item-text">5 000 рублей</p>
                     <button class="purchase-gift__cvadra-item-btn"> Х <span>убрать</span> </button>
                  </li>

                  <li class="purchase-gift__cvadra-item">
                     <p class="purchase-gift__cvadra-item-text">1. Двухмстный квадроцикл CF-MOTO 500</p>
                     <p class="purchase-gift__cvadra-item-text">2 квадроцикла</p>
                     <p class="purchase-gift__cvadra-item-text">5 000 рублей</p>
                     <button class="purchase-gift__cvadra-item-btn"> Х <span>убрать</span> </button>
                  </li>

               </ul><!-- purchase-gift__cvadra-list -->

               <div class="purchase-gift__cvadra-result">

                  <div class="purchase-gift__cvadra-content">
                     <p class='purchase-gift__cvadra-content-text'>Итого стоимость</p>
                     <p class='purchase-gift__cvadra-content-text'>27 000 рублей</p>
                  </div>

                  <div class="purchase-gift__cvadra-content">
                     <p class='purchase-gift__cvadra-content-text  purchase-gift__cvadra-content-text--red'>Итого
                        стоимость</p>
                     <p class='purchase-gift__cvadra-content-text  purchase-gift__cvadra-content-text--red'>27 000
                        рублей</p>
                  </div>

                  <div class="purchase-gift__cvadra-content">
                     <p class='purchase-gift__cvadra-content-text'>Итого стоимость</p>
                     <p class='purchase-gift__cvadra-content-text'>27 000 рублей</p>
                  </div>

               </div><!-- purchase-gift__cvadra-result -->

            </div><!-- purchase-gift__container -->

         </div><!-- purchase-gift__cvadra -->





         <div class="purchase-gift__info">

            <div class="purchase-gift__container">

               <div class="purchase-gift__info-inner">

                  <div class="purchase-gift__info-text">

                     <h3 class="purchase-gift__info-title">
                        Важно знать!
                     </h3>

                     <ul class="purchase-gift__info-list">

                        <li class="purchase-gift__info-list-item">
                           * Оплата производится через платежный банковский шлюз по защищенному HTTPS-протоколу
                        </li>

                        <li class="purchase-gift__info-list-item">

                           * После оплаты билет будет выслан по СМС на указанный телефон
                        </li>

                        <li class="purchase-gift__info-list-item">
                           * Билет необходимо предъявить со смартфона (распечатывать не надо)
                        </li>

                        <li class="purchase-gift__info-list-item">
                           * После оплаты чек будет выслан на указанный E-mail
                        </li>

                        <li class="purchase-gift__info-list-item">
                           * Во избежание недоразумений Вам необходимо приехать не менее чем за 15 минут до
                           согласованного
                           времени
                        </li>

                        <li class="purchase-gift__info-list-item">
                           * В случае возникновения вопросов вы можете позвонить по контактным телефонам, указанным в
                           билете
                        </li>

                     </ul><!-- purchase-gift__info-list -->

                  </div><!-- purchase-gift__info-text -->


                  <div class="purchase-gift__info-date">

                     <h3 class="purchase-gift__info-title">
                        Предполагаемые дата
                        и время записи:
                     </h3>

                     <ul class="purchase-gift__info-date-list">

                        <li class="purchase-gift__info-date-item">27 мая (чт), в 11:00</li>
                        <li class="purchase-gift__info-date-item">27 мая (чт), в 11:00</li>
                        <li class="purchase-gift__info-date-item">27 мая (чт), в 11:00</li>
                        <li class="purchase-gift__info-date-item">27 мая (чт), в 11:00</li>
                        <li class="purchase-gift__info-date-item">27 мая (чт), в 11:00</li>
                        <li class="purchase-gift__info-date-item">27 мая (чт), в 11:00</li>

                     </ul>

                  </div><!-- purchase-gift__info-date -->

               </div><!-- purchase-gift__info-inner" -->

            </div><!-- purchase-gift__container -->

         </div><!-- purchase-gift__info -->



         <div class="purchase-gift__container">

            <div class="purchase-gift__footer">

               <p class="purchase-gift__footer-text">
                  Итого стоимость: 27 000 р:
               </p>

               <button class="purchase-gift__footer-btn">
                  Перейти к оплате
               </button>

            </div><!-- purchase-gift__footer -->

         </div><!-- purchase-gift__container -->

      </div><!-- purchase-gift__item -->

   </form>

</div><!-- overlay -->