 
   <div class="questions-answer">

      <h2 class="title questions-answer__title">
         Вопросы и ответы
      </h2>

      <div class="questions-answer__content">
         <div class="questions-answer__head">
            <div class="questions-answer__container">
               Какая одежда нужна с собой?
            </div>
         </div>
         <div class="questions-answer__body">
            <div class="questions-answer__container">
               Спортивная одежда, обувь. Для обеспечения личной безопасности рекомендуется взять с собой теплую одежду
            </div>
         </div>
      </div>

      <div class="questions-answer__content">
         <div class="questions-answer__head">
            <div class="questions-answer__container">
               В КАКОЙ СЕЗОН ПРОХОДЯТ КАТАНИЯ?
            </div>
         </div>
         <div class="questions-answer__body">
            <div class="questions-answer__container">
               Январь - декабрь
            </div>
         </div>
      </div>

      <div class="questions-answer__content">
         <div class="questions-answer__head">
            <div class="questions-answer__container">
               КАК ОБЕСПЕЧЕНА БЕЗОПАСНОСТЬ ПРИ ПРОКАТЕ КВАДРОЦИКЛОВ?
            </div>
         </div>
         <div class="questions-answer__body">
            <div class="questions-answer__container">
               Профессиональные инструкторы, современная импортная техника.

            </div>
         </div>
      </div>

      <div class="questions-answer__content">
         <div class="questions-answer__head">
            <div class="questions-answer__container">
               БУДЕТ ЛИ РЯДОМ ИНСТРУКТОР?
            </div>
         </div>
         <div class="questions-answer__body">
            <div class="questions-answer__container">
               На протяжении всего маршрута катания, Вас будет сопровождать инструктор на отдельном квадроцикле. Он
               покажет лучшие места и приложит
               все усилия, чтобы поездка была насыщенной и запоминающейся
            </div>
         </div>
      </div>

      <div class="questions-answer__content">
         <div class="questions-answer__head">
            <div class="questions-answer__container">
               ЕСТЬ ЛИ ОГРАНИЧЕНИЯ ПО ВОЗРАСТУ?
            </div>
         </div>
         <div class="questions-answer__body">
            <div class="questions-answer__container">
               Для управления квадроциклом допускаются лица достигшие 18 летнего возраста. Дети младше 16 лет катаются
               только вместе с взрослыми.
               Для катания с родителями допускаются дети от 4х лет
            </div>
         </div>
      </div>

      <div class="questions-answer__btn">
         <a class="btn" href="#">Забронировать это тур</a>
      </div>

   </div>
