<div class="services-about">


   <div class="services-about__content">

      <h2 class="services-about__title">Заголовок 1</h2>

      <p class="services-about__text">
         Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
         "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
         коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно
         пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое
         время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время,
         программы электронной вёрстки типа Aldus
         Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
         "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
         коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно
         пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое
         время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время,
         программы электронной вёрстки типа Aldus
      </p>

   </div><!-- blog-info__content -->


   <div class="services-about__img">
      <img src="assets/img/blog-info1.png" alt="">
   </div>


</div>

 