<div class="service-information">

   <div class="service-information__item">
      <h3 class="service-information__title">Что включено в программу?</h3>

      <ul class="service-information__list">
         <li class="service-information__item">
            1. В клубе Вам выдадут всю необходимую экипировку для катания
         </li>
         <li class="service-information__item">
            2. Инструктаж по технике безопасности и обучение управлению квадроциклом
         </li>
         <li class="service-information__item">
            3. Маршрут создан для любителей спокойной езды и прекрасных видов. 
         </li>
         <li class="service-information__item">
            4. Возвращаетесь на базу. Сдаете персоналу экипировку.
         </li>
      </ul>
   </div>

   <div class="service-information__item">
      <h3 class="service-information__title">Что важно знать?</h3>

      <ul class="service-information__list">
         <li class="service-information__item">
            1.  Не ограничиваем мощность двигателей для экономии топлива. Многие прокаты скрыто регулируют двигатели, чтобы техника не развивала максимальную мощность и скорость. Мы так не делаем.
         </li>
         <li class="service-information__item">
            2. Используем дорогую современную технику. Квадроциклы только от надежных брендов, чтобы вы получили максимум впечатлений от поездки.

         </li>
      </ul>
   </div>

</div>