<div class="tour-selection  information">
   <div class="container">
      <div class="tour-selection__inner">

         <h2 class='title tour-selection__title'>
            Подберите тур за 20 секунд
         </h2>

         <form class='tour-selection__form'>

            

            <ul class="tour-selection__list">

               <li class="tour-selection__item">
                  <p class="tour-selection__text">Сколько вас человек?</p>
                  <input type="text" placeholder="от 1 до 12 человек">
              
               </li>

               <li class="tour-selection__item">
                  <p class="tour-selection__text">Сколько хотите кататься?</p>
                  <input type="text" placeholder="от 1 до 12 часов">
               </li>
 

               <li class="tour-selection__item">
                  <p class="tour-selection__text">Выберите место катания</p>
                  <div class="select32 select32--wh">
                     <div class="select32__header">
                        <span class="select32__current">ул. Трахтынберга 14, ст...</span>
                        <img src="assets/img/arrow.svg" alt="">
                     </div>

                     <div class="select32__body">
                        <div class="select32__item">Снегоходы</div>
                        <div class="select32__item">Выбор 1</div>
                        <div class="select32__item">Выбор 2</div>
                     </div>
                  </div>
               </li>

               <li class="tour-selection__item">
                  <button class='  btn'>
                     Выбрать тур
                  </button>
               </li>

            </ul>

            <div class="tour-selection__links">
 
               <a class="tour-selection-link" href="#">х Сбросить фильтр</a>

            </div>
        
         </form>

      </div> <!-- tour-selection__inner  -->

   </div><!-- container -->
</div><!-- tour-selection -->