<div class="used-snowmobiles">
   <h2 class="title  used-snowmobiles__title">
      Какие снегоходы используются?
   </h2>

   <div class="used-snowmobiles__list">

      <div class="used-snowmobiles__item">
         <img src="./assets/img/used-snowmobiles1.png" alt="">

         <div class="used-snowmobiles__content">
            <h3 class="used-snowmobiles__content-title">
               BRP Outlander 800
            </h3>

            <ul class="used-snowmobiles__content-list">
               <li class="used-snowmobiles__content-item">Объем двигателя: 800 куб. см</li>
               <li class="used-snowmobiles__content-item"> Тип двигателя: V-образный, Rotax</li>
               <li class="used-snowmobiles__content-item"> Мощность: 71 л.с. </li>
               <li class="used-snowmobiles__content-item"> Максимальная скорость: 110 км/ч </li>
               <li class="used-snowmobiles__content-item  used-snowmobiles__content-item--blue">Цена: 6 000
                  рублей/час </li>
            </ul>
         </div>
      </div>

      <div class="used-snowmobiles__item">
         <img src="./assets/img/used-snowmobiles2.png" alt="">

         <div class="used-snowmobiles__content">
            <h3 class="used-snowmobiles__content-title">
               CFMOTO X5
            </h3>

            <ul class="used-snowmobiles__content-list">
               <li class="used-snowmobiles__content-item">Объем двигателя: 800 куб. см</li>
               <li class="used-snowmobiles__content-item"> Тип двигателя: V-образный, Rotax</li>
               <li class="used-snowmobiles__content-item"> Мощность: 71 л.с. </li>
               <li class="used-snowmobiles__content-item"> Максимальная скорость: 110 км/ч </li>
               <li class="used-snowmobiles__content-item  used-snowmobiles__content-item--blue">Цена: 6 000
                  рублей/час </li>
            </ul>
         </div>
      </div>

   </div><!-- used-snowmobiles__list -->

</div><!-- used-snowmobiles -->