.advantages{
   margin-top: 100px;
}
 
.advantages__title{
   text-align: center;
}

.advantages__list{
 
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 40px;
}

.advantages__item{
   justify-self: center;

   text-align: center;

 

   img{
      margin-bottom: 45px;
   }
}

.advantages__item-title{
   margin-bottom: 10px;
   font-weight: 700;
   line-height: 1.5;
}

.advantages__title{
   margin-bottom: 53px;
}


@media (max-width: 904px){
   .advantages__list{
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 15px;
      grid-row-gap: 30px;
   }
   .advantages__item img{
      margin-bottom: 20px;
   }
}

@media (max-width: 768px){
   .advantages{
      margin-top: 50px;
      margin-bottom: 50px;
   }
 
}