



.block-standart{
   margin-top: 100px;
   margin-bottom: 100px;

   display: grid;
   grid-template-columns: 1fr 1fr;

}

 
.block-standart__content{
   justify-self: flex-end;
   
   padding-left: 15px;
   padding-right: 15px;
}


.block-standart__image{
   

   img{
      max-width: 100%;
      width: 100%;
      height: 500px;
      object-fit: cover;
      clip-path: polygon(23% 0, 100% 0, 100% 100%, 0% 100%);
   }
}

 
 
 



.block-standart__title{
   margin-bottom: 50px;

   font-weight: 700;
   font-size: 30px;
   line-height: 1.46;
   color: $blue;
}

.block-stadart__geo-img{
   margin-right: 18px;
}

.block-standart__geo{
   display: flex;
   align-items: center;
}

.block-standart__geo-title{
   font-size: 20px;
   line-height: 1.5;
   color: $black;
}

.block-standart__geo-text{
   margin-top: 8px;

   font-size: 20px; 

   span{
      color: $gray;
   }

   a{
      margin-left: 18px;

      color: $blue;
      border-bottom: 1px dashed $blue;
      
      transition: color .2s linear, border .2s linear;

      &:hover{
         color: $black;
         border-bottom-color: $black;
      }
   }
}


.block-standart__info-item{
   display: flex;
   align-items: center;
}

.block-standart__info-img{
   margin-right: 18px;
}

.block-standart__info{
   justify-content: space-between;
   max-width: 530px;

   display: flex;
   flex-wrap: wrap;
}

.block-standart__info-item{
   margin-top: 30px;
}

.block-standart__btns{
   margin-top: 50px;

   display: flex;
   align-items: center;

   .btn-arrow{
      margin-right: 30px;
   }
}


@media (max-width: 968px){
   .block-standart{
      grid-template-columns: 1fr;
   }
   .block-standart__content{
      grid-row: 2 / 3;
   }

   .block-standart__image{
      grid-row: 1 / 2;
   }
   .block-standart__content{
      margin-top: 20px;
      justify-self: center;
   }
}


@media (max-width: 642px){
   .block-standart__btns{
      flex-direction: column;
      .btn-arrow{
         margin-bottom: 30px;
         margin-right: 0;
         
         width: 270px;
      }
   }

   .block-standart__image img{
      height: auto;
   }
   
}

@media (max-width: 582px){
   .block-standart__info{
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
   }
}

@media (max-width: 543px){
   .block-standart__geo{
      max-width: 362px;
   }
   .block-standart__geo-text a{
      margin-top: 5px;
      margin-left: 0;
   }
   .block-standart__geo-text span{
      display: none;
   }
}