.intro{
   position: relative;

   padding-top: 107px;

   min-height: 769px;
 
}

.intro__box{
   padding-left: 50px;
}

.intro::after{
   content: "";
   position: absolute;

   display: block;
   right: 0;
   top: 0;

   width: 70%;
   height: 100%;

   z-index: -1;
 
   background-image: linear-gradient(180deg, rgba(0, 148, 255, .5) 13.54%, rgba(173, 255, 0, .5) 58.85%), url("../img/intro-bg.png");

 
  
  
   clip-path: polygon(34% 0, 100% 0, 100% 100%, 0% 100%);
   
   background-repeat: no-repeat;
 
   background-size: cover;
  
}

 
.intro__title{
   margin-top: 70px;

   margin-bottom: 10px;

   font-weight: 700;
   font-size: 40px;
   line-height: 1.4;  
}

.intro__subtitle{
   font-size: 20px;
   line-height: 1.5;

   margin-bottom: 40px;
}

.intro__tours {
   display: flex;

   margin-bottom: 100px;
}

.intro__tours-item{
   width: 148px;

   &+.intro__tours-item{
      margin-left: 60px;
   }
}


.intro__tours-head {
   font-size: 40px;
   color: $blue;
}

.intro__tours-text {
   font-size: 20px;
   line-height: 1.5;

   color: $black;
   font-weight: 400;
}





// intro-information 
.intro.information::after{
   background-image: linear-gradient(180deg, rgba(0, 148, 255, .5) 13.54%, rgba(173, 255, 0, .5) 58.85%), url("../img/intro-inforamtions-bg.png");
}




@media (max-width: 1024px){
   .intro.information::after{
      background-image: none;
   }
   .intro::after{
   
      background-image: none;
 
     
   }
   .intro{
      min-height: auto;
      padding-bottom: 50px;
   }

   .intro__title{
      margin-top: 60px;
   }

   .intro__tours{
      margin-bottom: 50px;
   }
   .intro__box{
      padding-left: 0;
   }
}


@media (max-width: 659px){
   .intro__title{
      font-size: 34px;
   }
}


@media (max-width: 567px){
   .intro__tours-head{
      font-size: 30px;
   }
   .intro__box{
      text-align: center;
   }
   .intro__tours-item+.intro__tours-item{
      margin-left: 10px;
     
   }
   .intro__tours{
      justify-content: center;
   }
}

@media (max-width: 451px){
   .intro__tours-text{
      font-size: 15px;
   }
}

@media (max-width: 412px){
   .intro__tours-head{
      font-size: 25px;
   }

 
}