.nav{
   margin-top: 40px;
   margin-bottom: 60px;
}

.nav__list{
   display: flex;
   flex-wrap: wrap;
}

.nav__item{
  margin-right: 35px; 
}

.nav__item-link{
   font-size: 20px;
   color: $black;
   line-height: 1.5;

   transition: color .2s linear;

   &:hover{
      color: $blue;
   }
}


@media (max-width: 1163px){
   .nav__list{
      display: none;
   }
}